* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav {
    width: 90%;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.item {
    color: #fff;
    float: right;
    width: 100px;
    padding: 5px;  
    margin: 10px;
    font-size: 25px;
    text-align: center;
}

.clearfloat:after,
.clearfloat:before {
    content: "";
    display: block;
    clear: both;
}

.item:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
}

.hero_section {
    background: url('../assets/hero_image.jpg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: cover;
    height: 900px;
}

.hero_section h1 {
    color:#fff;
    text-align: center;
    font-size: 60px;
    top: 30%;
    position: relative;
}

.btnGroup {
    position: relative;
    top: 31%;
    left: 48%;
    height: 100px;
    width: 400px;
    transform: translate(-40%);
}

.btnGroup .btn {
    font-size: 20px;
    position: relative;
    padding: 3px 20px;
    text-align: center;
    display: inline-block;
    background-color: Transparent;
    color: white;
    border-color: #fff;
    border-width: medium;
    font-weight: bold;
    outline: none;
}