html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $carbon;
}

a:hover {
  color: $watermelon;
  font-weight: 500;
}

.img_smaller {
  display: block;
  width: 80%;
  margin: 0 auto;
}
