.aboutMe {
  @media (min-width: 800px) {
    margin-bottom: 50px;
  }
}

.aboutMe__h1 {
  color: $carbon;
  font-family: $standoutText;
  font-weight: 700;
  margin: 20px 0 20px 0;
  @media (min-width: 800px) {
    margin: 50px 0 50px 0;
  }
}

.aboutMe__h1::after {
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  background-color: $watermelon;
}

.aboutMe__p {
  color: $carbon;
  font-family: $normalText;
  font-size: 1.2rem;
  margin: 10px 0 0 0;
}

@media (min-width: 800px) {
  .aboutMe__h1 {
    margin: 50px 0 50px 0;
  }

  .aboutMe-context::after {
    content: "";
    display: block;
    clear: both;
  }
  .aboutMe__p {
    width: 50%;
    float: left;
    line-height: 2rem;
    font-size: 1.2rem;
    padding-top: 0;
    margin-top: 0;
    padding-right: 10px;
  }
  .aboutMe-context img {
    width: 45%;
    float: right;
  }
}
