.education {
  display: block;
  position: relative;
}

.education__h1 {
  margin: 20px 0 20px 0;
  color: $carbon;
  font-family: $standoutText;
  font-weight: 700;
}

.education__h1::after {
  content: "";
  width: 130px;
  height: 7px;
  display: block;
  background-color: $watermelon;
}

@media (min-width: 850px) {
  .education__h1 {
    margin: 50px 0 50px 0;
  }
}

.education__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.education__flex-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
  }
  justify-content: space-between;
  overflow: auto;
}

.education__element {
  margin-bottom: 20px;

  width: 100%;
  background-color: rgba(255, 192, 203, 0.2);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3), 0 6px 7px 0 rgba(0, 0, 0, 0.1);
}

.education__element:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5), 0 6px 7px 0 rgba(0, 0, 0, 0.3);
}

.education__description {
  color: $carbon;
  font-family: $normalText;
  font-size: 1.2rem;
  margin: 10px 0 0 0;
  text-align: center;

  @media (min-width: 800px) {
    line-height: 2rem;
    font-size: 1.2rem;
  }

  strong {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.education__uni {
  color: $carbon;
  font-family: $normalText;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;

  @media (min-width: 800px) {
    font-size: 1.5rem;
  }
}

.education::before {
  content: "";
  display: block;
  height: 7.5rem; /* fixed header height*/
  margin: -7.5rem 0 0; /* negative fixed header height */

  @media (min-width: 800px) {
    height: 5rem; /* fixed header height*/
    margin: -5rem 0 0; /* negative fixed header height */
  }
}
