.introduction {
  position: relative;

  padding-top: 7.5rem;

  @media (min-width: 800px) {
    padding-top: 5rem;
  }
}

.introduction__h1 {
  margin: 20px 0 20px 0;
  color: $carbon;
  font-family: $standoutText;
  font-weight: 700;

  @media (min-width: 800px) {
    margin: 50px 0 50px 0;
  }
}

.introduction__h1::after {
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  background-color: $watermelon;
}

.introduction__p {
  color: $carbon;
  font-family: $normalText;
  font-size: 1.2rem;
  margin: 0;
  @media (min-width: 800px) {
    line-height: 2rem;
  }
}

@media (min-width: 800px) {
  .introduction__container {
    position: absolute;
    top: 5rem;
  }
}

.introduction-text {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 20px;
  word-break: break-word;
  @media (min-width: 800px) {
    padding: 20px 40px;
  }
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3), 0 6px 7px 0 rgba(0, 0, 0, 0.1);
}
