.project {
  &__h1 {
    margin: 20px 0 20px 0;
    @media (min-width: 850px) {
      margin: 50px 0 50px 0;
    }

    color: $carbon;
    font-family: $standoutText;
    font-weight: 700;
  }

  &__h1::after {
    content: "";
    width: 130px;
    height: 7px;
    display: block;
    background-color: $watermelon;
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media (min-width: 800px) {
      flex-direction: row;
    }
  }

  &__element {
    width: 100%;
    @media (min-width: 800px) {
      width: 47%;
    }
    align-self: stretch;

    padding: 20px 20px;
    h1 {
      font-size: 1.3rem;
      text-align: center;
      margin: 0;
      font-family: $standoutText;
      color: $carbon;
      @media (min-width: 800px) {
        font-size: 1.5rem;
      }
    }

    p {
      font-family: $normalText;
      color: $carbon;
      font-size: 1.2rem;
    }
  }

  &__element-text {
    background-color: rgba(169, 169, 169, 0.2);
  }

  &__element:first-child {
    margin-bottom: 10px;
    @media (min-width: 800px) {
      margin-bottom: 0px;
    }
  }
  &__element:hover {
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3), 0 6px 7px 0 rgba(0, 0, 0, 0.1);
  }
}

.project::before {
  content: "";
  display: block;
  height: 7.5rem; /* fixed header height*/
  margin: -7.5rem 0 0; /* negative fixed header height */

  @media (min-width: 800px) {
    height: 5rem; /* fixed header height*/
    margin: -5rem 0 0; /* negative fixed header height */
  }
}
